root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
ij_kotlin_allow_trailing_comma=true
ij_kotlin_imports_layout=*

[*{.yml,yaml}]
indent_style = space
indent_size = 2
